<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="commonLib.AppSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="common.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <system.diagnostics>
        <sources>
            <!-- This section defines the logging configuration for My.Application.Log -->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog"/>
                    <!-- Uncomment the below section to write to the Application Event Log -->
                    <!--<add name="EventLog"/>-->
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information" />
        </switches>
        <sharedListeners>
            <add name="FileLog"
                 type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL"
                 initializeData="FileLogWriter"/>
            <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
            <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
        </sharedListeners>
    </system.diagnostics>
    <applicationSettings>
        <commonLib.AppSettings>
            <setting name="environment" serializeAs="String">
                <value>production</value>
            </setting>
            <setting name="imapServer" serializeAs="String">
                <value>imap.global.corp.sap</value>
            </setting>
            <setting name="imapPort" serializeAs="String">
                <value>993</value>
            </setting>
            <setting name="isSSL" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="hostSMTP" serializeAs="String">
                <value>mail.sap.corp</value>
            </setting>
            <setting name="emailUser" serializeAs="String">
                <value>asa1_sap_mktg_in_ac@global.corp.sap\sap_marketing_in_action</value>
            </setting>
            <setting name="emailPass" serializeAs="String">
                <value>q()#juik5{ug6jH7wQAU</value>
            </setting>
            <setting name="emailStorePath" serializeAs="String">
                <value>d:\webapps\test\mails\</value>
            </setting>
            <setting name="systemEmail" serializeAs="String">
                <value>sap_marketing_in_action@sap.com</value>
            </setting>
            <setting name="getSystemUrl" serializeAs="String">
                <value>http://rtm-bmo.bue.sap.corp:8888/</value>
            </setting>
            <setting name="pathLogFile" serializeAs="String">
                <value>d:\webapps\test\log.txt</value>
            </setting>
            <setting name="deliveryStorePath" serializeAs="String">
                <value>d:\webapps\test\delivery\</value>
            </setting>
        </commonLib.AppSettings>
        <common.Settings1>
            <setting name="environment" serializeAs="String">
                <value>testing</value>
            </setting>
        </common.Settings1>
    </applicationSettings>
</configuration>
